footer {
    margin-top: auto;

    width: 100%;
    height: 56px;
    line-height: 56px;

    text-align: center;

    font-size: 1em;

    color: white;

    z-index: 2;

    span {
        color: #afa894;
    }

    a {
        color: #829f91;
    }
}
