section#main h1 {
    font-size: 10vw;

    text-align: center;

    color: #1e380b;

    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 992px) {
    section#main h1 {
        font-size: 15vw;

        text-align: left;
    }
}
